
[class*=col-] {
    border-radius: 5px;
    height: auto;
    text-align: center;
    font-size: 2rem;
    font-family: "Lucida Sans", sans-serif;
    transition: all 0.3s ease-in;

}

div [class*=col-] {
    background-color: #2da9b1;
    line-height: 3rem;

}

.content-title {
    background-color: #4A23BF;
    font-size: 3em;
    line-height: 4em;
}

@media only screen and (max-width: 767px){
    [class*="col-"] {
        width: calc(100% - var(--gutter-size));
        margin:  calc(var(--gutter-size) / 2);
    }
    .scroll-navi {
        padding: 0;
        margin: 0;
        position: fixed;
        right: 0.25em;
        bottom: 1em;
        z-index: 999;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        & li {
            list-style: none;

            & a {
                display: block;
                cursor: hand;
                width: 30px;
                border-radius: 0.25em;
                padding-left: 0.5em;
                padding-right: 0.25em;
                line-height: 2em;
                font-size: 1.25em;
                margin-bottom: 0.0625em;
                margin-top: 0.0625em;
                background-color: #2b2b2b;
                opacity: 0.8;
                color: #fff;

            }
        }
    }
}

table tr {
    background-color: transparent;
    border: 2px solid #cccccc;
    line-height: 2rem;
    & [class*="col-"] {
        background-color: transparent;

    }
}


.table-header {
    display: none;
}
td {
    line-height: 2rem;
    & span {
        text-align: left;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    [class*="col-"] {
        width: calc(33.33% - var(--gutter-size));
        margin:  calc(var(--gutter-size) / 2);
    }
    .scroll-navi {
        display: none;
    }

    .table-header {
        display: none;
    }
    td {
        & span {
            text-align: left;
            display: block;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .scroll-navi {
        display: none;
    }
    .table-header {
        display: block;
    }
    .table-row td span.label {
        display: none;
    }
    .table-header {
        background-color: #eee;
    }
    tr {
        border-bottom: 2px solid #ccc;
    }
    td {
        line-height: 2rem;
        & span {
            text-align: center;
        }
        & span.label {
            display: none;
        }
    }
}
.table-header, .table-row {
    padding: 0;
    width: calc(100% - var(--gutter-size));
    &::after {
        content: " ";
        clear: both;
        display: block;
    }
    & td, th {
        position: relative;
        & span {
            left: var(--gutter-size);
        }
        & span.label {
            left: var(--gutter-size);
            font-weight: bold;

        }
    }
}